extends ../layout

block content
    table
        thead
            th Property
            th Value

        tbody
            tr
                td MongoDB Id
                td=card._id
            tr
                td Id
                td=card.id
            tr
                td Name
                td=card.name
            tr
                td Flavor
                td=card.flavor
            tr
                td Player Class
                td=card.playerClass
            tr
                td Race
                td=card.race
            tr
                td Rarity
                td=card.rarity
            tr
                td Set
                td=card.set
            tr
                td Type
                td=card.type
            